.countdown {
    background: linear-gradient(rgb(241, 189, 91), rgb(221, 163, 55));
    color: #FFF;
    font-size: 1.8rem;
    padding: 25px;
}

.countdown__icons {
    cursor: pointer;
    display: none;
    float: right;
    font-size: 1.2rem;
}

.countdown:hover .countdown__icons {
    display: block;
}

.countdown:hover .overlay span {
    display: block;
}